<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="{% url "manager:teacher" %}">
            <button>Back</button>
        </a><br><br>
        <a href="{% url "manager:studentAddToSub" subCode batchCode %}">
            <button>Add students</button>
        </a>
        
        <form method="post" name="attendanceForm">
            {% csrf_token %}
            <input type="date" placeholder="00/00/00" name = 'date' required>
            <button type="submit" name="attendanceForm">Submit</button>
        </form>
        <div style="margin-top: 20px;display: inline-block;">
            <form method="post" name = "attendance" >
                {% csrf_token %}
                {% if new_date.attendanceDate != None %}
                <h4 style="display: inline-block;margin-left:178px">{{new_date.attendanceDate}}</h4>
                {% else %}
                <h4 style="display: inline-block;margin-left:178px">00/00/00</h4>
                {% endif %}
                {% for student in student_name %}
                    <div style="margin-top: 10px;border : solid;width : 300px;">
                        <div style="display: inline-block;width : 150px;">
                            ID : {{student.0}}<br>
                            Name : {{student.1}}
                        </div>
                        <div style="margin-left: 50px;display: inline-block;">
                            {% if new_date.attendanceDate != None %}
                            <input style="width: 30px;height : 20px" type="checkbox" name="student_attendance" value="{{ student.0 }}">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div style="margin-top: 20px;">
                    {% if new_date.attendanceDate != None %}
                    <button type="submit" name = "attendance">Submit</button>
                    {% endif %}
                </div>
            </form>
        </div>

        <div style="display: block;width : 150px;float: right;margin-top : 35px;">
            <h3 style="margin-left: 25px;">Saved date</h3>
            {% for date in savedDate %}
                <div style="display: flex;width : 150px;border-style : solid;margin-top:15px;height:50px;align-items: center; justify-content: center; ">
                <p>{{date.attendanceDate}}</p>
                {% if date.additional != 0 %}
                <p>({{date.additional}})</p>
                {% endif %}
                <a href="{% url "manager:attendance_edit" subCode date.additional %}">
                More info
                </a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>