{% extends "base.html" %}

{% block body %}
<h4>User name : {{user.username}}</h4>
<a href="{% url "manager:addData" %}">
<button>Add subject</button>
</a>
<a href="{% url "UserApp:register" %}">
    <button>Add students</button>
</a>

{% for sub in subject %}
<a href="{% url 'manager:subjectDataEdit' sub.subjectCode sub.batchCode %}">
<div style="margin-top: 10px;display : inline-block;margin-left : 10px">
    <div>
        Subject name : {{ sub.subjectName }}
    </div>
    <div>
        Subject code : {{ sub.subjectCode }}
    </div>
    <div>
        Batch Name : {{ sub.batchCode }}
    </div>
</div>
</a>
{% endfor %}
{% endblock %}